// Colors
$base: #3B2A3C;
$fontcolor: #BDA17D;
$thirdcolor: #754545;
$another: #f3e3d6;
$black: black;
$white: white;
// Font
$fonttitles: 'Averia Serif Libre', cursive;
$fontcontent: 'Raleway', sans-serif;
// Size
$title: 4.8rem;
$conten: 2.2rem;
$subtitle: 2.4rem;
$footer: 1.8rem;
$footertitle: 3.6rem;
$sidemenu: 3.8rem;
// Line-height
$content: 2.8rem;