@import "variables";
@import "mixin";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: $fonttitles;
}
body {
    position: relative;
}
.animation {
    opacity: 0;
    transform: translateY(30%);
}
.animation.active {
    opacity: 1;
    transform: translateY(0%);
    transition: 800ms ease-out;
    transition-delay: 400ms;
}
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
}
.header-nav {
    width: 100%;
    height: 100vh;
    background-color: $thirdcolor;
    color: $fontcolor;
    display: grid;
    grid-template-rows: .5fr .8fr 1fr;
    transform: translateX(-100%);
}
.header-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 400px;
    font-size: $sidemenu;
    justify-content: center;
    grid-row: 2;
}
.header-list li{
    margin: 10px 0;
    text-align: center;
}
.header-list li a {
    text-decoration: none;
    color: $fontcolor;
    transition: 400ms ease;
}
.header-list li a:hover {
    opacity: .6;
    text-decoration: underline;
}
.header-links {
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-links a {
    background-color:$fontcolor;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.show {
    animation-name: cerrar;
    animation-iteration-count: 1;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}
.unshow {
    animation-name: abrir;
    animation-iteration-count: 1;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}
@keyframes abrir {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes cerrar {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
.header-nav-hamburger-menu {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 35px;
    height: 35px;
    margin-right: 1.2rem;
    cursor: pointer;
    z-index: 3;
}
.header-nav-hamburger-menu-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
.button {
    position: relative;
}
.button-div {
    width: 3.2rem;
    height: .5rem;
    background: $fontcolor;
    transition: all .6s ease;
}
.button-div:after, .button-div:before {
    content: "";
    position: absolute;
    width: 3.2rem;
    height: .5rem;
    background: $fontcolor;
    left: 0;
    transition: all .5s ease;
}
.button-div:after {
    transform: translateY(-10px);
}
.button-div:before {
    transform: translateY(10px);
}
.button-div-open {
    transform: translateX(0%);
    background: transparent;
}
.button-div-open:after {
    transform: translate(calc(0%),-.045rem) rotate(-45deg);
}
.button-div-open:before {
    transform: translate(calc(0%),-.045rem) rotate(45deg);
}
.main {
    width: 100%;
    height: auto;
    color: $fontcolor;
    padding-bottom: 30px;
    background-color: $base;
}
.main-container-parallax {
    width: 100%;
    height: 100vh;
    position: relative;
}
.parallax {
    width: 100%;
    height: 100%;
    position: absolute;
}
.main-container-parallax-logo {
    @include iconos($icon: 'https://www.lionssonggame.com/img/tls_logo.png');
    width: 305px;
    height: 305px;
    z-index: 1;

}
.main-container-parallax-one {
    @include iconos($icon: 'https://www.lionssonggame.com/img/parallax/e03_parallax0.png');

}
.main-container-parallax-two {
    height: 70%;
    bottom: 0;
    @include iconos($icon: 'https://www.lionssonggame.com/img/parallax/e03_parallax1.png');
}
.main-container-parallax-three {
    height: 60%;
    bottom: 0;
    @include iconos($icon: 'https://www.lionssonggame.com/img/parallax/e03_parallax2.png');
}
.main-container-parallax-four {
    height: 60%;
    bottom: 0;
    @include iconos($icon: 'https://www.lionssonggame.com/img/parallax/e03_parallax3.png');

}
.main-container-parallax-five {
    height: 50%;
    bottom: 0;
    @include iconos($icon: 'https://www.lionssonggame.com/img/parallax/e03_parallax4.png');

}
.main-container-parallax-six {
    height: 50%;
    bottom: 0;
    @include iconos($icon: 'https://www.lionssonggame.com/img/parallax/e03_parallax5.png');

}
.main-container-parallax-seven {
    height: 80%;
    bottom: 0;
    @include iconos($icon: 'https://www.lionssonggame.com/img/parallax/e03_parallax6.png');
}
.main-container-info {
    background-color: $base;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.main-container-info-logo {
    width: 305px;
    height: 305px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/tls_logo.png');
    margin: 15px;
}
.main-container-info h1 {
    font-size: $sidemenu;
    font-family: $fonttitles;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: 15px;
}
.main-container-info p {
    width: 80%;
    max-width: 600px;
    font-size: $conten;
    font-family: $fontcontent;
    line-height: $content;
    margin: 15px;
}
.main-container-awards {
    width: 100%;
    height: auto;
    background-color: $base;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.main-container-awards-video {
    width: 100%;
    min-height: 320px;
    margin: 15px 0;
}
.main-container-awards-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-container-awards-info span {
    width: 250px;
    height: 170px;
    margin: 15px 0;
}
.main-container-awards-info-prizes-one {
    @include iconos($icon: 'https://www.lionssonggame.com/img/award_igf_mentions_narrative.png');
}
.main-container-awards-info-prizes-two {
    @include iconos($icon: 'https://www.lionssonggame.com/img/award_reversed_beststory_website.png');
}
.main-container-awards-info-prizes-three {
    @include iconos($icon: 'https://www.lionssonggame.com/img/award_taptap_all.png');
}
.main-container-awards-info-prizes-four {
    @include iconos($icon: 'https://www.lionssonggame.com/img/award_futurezone.png');
}
.main-container-awards-info-prizes-five {
    @include iconos($icon: 'https://www.lionssonggame.com/img/award_developer_germany.png');
}
.main-container-awards-info-prizes-six {
    @include iconos($icon: 'https://www.lionssonggame.com/img/award_developer_nominee_story_EN.png');
}
.main-container-episodes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: $base;
    padding-top: 15px;
}
.main-container-episodes h1 {
    font-size: $sidemenu;
    font-family: $fonttitles;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: 15px;
    align-self: center;
    padding-bottom: 20px;
}
.main-container-episodes-gifs {
    display: grid;
    row-gap: 20px;
    width: 100%;
    height: auto;
    justify-content: center;
}
.main-container-episodes-gifs img{
    width: 100%;
    min-height: auto;
}
.main-container-links {
    width: 100%;
    height: auto;
    background-color: $base;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-container-links-season {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}
.main-container-links-season h2, .main-container-links-nintendo h2, .main-container-links-full-game h2, .main-container-links-rare h2 {
    font-size: $subtitle;
    font-family: $fonttitles;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin: 15px;
    justify-self: center;
}
.main-container-links-season a {
    margin: 15px 0;
}
.main-container-links-season__steam {
    width: 190px;
    height: 70px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/steam.png');
    background-size: unset;
    justify-self: center;
}
.main-container-links-season__humble {
    width: 300px;
    height: 70px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/humblebundle.png');
    background-size: unset;
}
.main-container-links-season__gog {
    width: 250px;
    height: 60px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/gogcom-horizontal-white.png');
    background-size: unset;
    justify-self: center;
}
.main-container-links-season__utomik {
    width: 250px;
    height: 60px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/utomik-logo.png');
    background-size: unset;
    justify-self: center;
}
.main-container-links-season__epic {
    width: 150px;
    height: 100px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/epicgames-white_logo.png');
    background-size: unset;
    justify-self: center;
}
.main-container-links-rare {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}
.main-container-links-rare a {
    width: 260px;
    height: 200px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/superraregames_logo.png');
    background-size: unset;
}
.main-container-links-full-game {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}
.main-container-links-full-game__mac{
    width: 250px;
    height: 60px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/macstore.png');
    margin: 10px 0;
    border-radius: 5px;
}
.main-container-links-full-game__windows{
    width: 250px;
    height: 90px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/English_get%20it%20from%20MS_864X312.png');
    margin: 10px 0;
}
.main-container-links-full-game__ios{
    width: 250px;
    height: 60px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/appstore.png');
    margin: 10px 0;
    border-radius: 5px;
    background-size: unset;
}
.main-container-links-full-game__android{
    width: 250px;
    height: 60px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/googleplay.png');
    background-size: unset;
    margin: 10px 0;
    border-radius: 5px;
}
.main-container-links-nintendo {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
}
.main-container-links-nintendo a {
    width: 300px;
    height: 50px;
    @include iconos($icon: 'https://www.lionssonggame.com/img/badges/Nintendo_eShop_Icon_Logo_White.png');
    margin: 10px 0;
    border-radius: 5px;
}
.main-container-links-nintendo img {
    width: 100%;
    max-width: 620px;
    min-height: auto;
    margin: 18px 0;
}
.main-container-media {
    width: 100%;
    height: auto;
    background-color: $base;
}
.main-container-media h2 {
    font-size: $sidemenu;
    font-family: $fonttitles;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.main-container-screenshots h2, .main-container-wallpaper h2 {
    font-size: $subtitle;
    font-family: $fonttitles;
    width: 100%;
    text-align: center;
    justify-self: center;
}
.main-container-screenshots-container {
    width: 100%;
    height: 890px;
    position: relative;
    overflow-x: hidden;
    background-color:#3b2a3c;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.main-container-screenshots-container img {
    max-width: 350px;
    transition: all 1s ease-in;
    transition-delay: 50ms;
}
.main-container-screenshots-container img:hover {
    transform: translateY(20px) translate(0);
    z-index: 1;
}
.one {
    width: 100%;
    height: auto;
    position: absolute;
    transform: translate(10px);
}
.two {
    width: 100%;
    height: auto;
    top: 15%;
    position: absolute;
    transform: translate(20px);
}
.three {
    width: 100%;
    height: auto;
    top: 30%;
    position: absolute;
    transform: translate(-10px);
}
.four {
    width: 100%;
    height: auto;
    top: 45%;
    position: absolute;
    transform: translate(10px);
}
.five {
    width: 100%;
    height: auto;
    top: 60%;
    position: absolute;
    transform: translate(20px);
}
.six {
    width: 100%;
    height: auto;
    top: 75%;
    position: absolute;
    transform: translate(-10px);
}
.one-wallpaper {
    width: 100%;
    height: auto;
    position: absolute;
    transform: translate(10px);
}
.two-wallpaper {
    width: 100%;
    height: auto;
    top: 100px;
    position: absolute;
    transform: translateX(15px);
}
.three-wallpaper {
    width: 100%;
    height: auto;
    top: 200px;
    position: absolute;
    transform: translate(-10px);
}
.four-wallpaper {
    width: 100%;
    height: auto;
    top: 300px;
    position: absolute;
    transform: translate(10px);
}
.five-wallpaper {
    width: 100%;
    height: auto;
    top: 400px;
    position: absolute;
    transform: translate(20px);
}
.six-wallpaper {
    width: 100%;
    height: auto;
    top: 500px;
    position: absolute;
    transform: translate(-10px);
}
.seven-wallpaper {
    width: 100%;
    height: auto;
    top: 600px;
    position: absolute;
    transform: translate(-10px);
}
.main-container-wallpaper-container {
    width: 100%;
    height: 800px;
    background-color: #3b2a3c;
    display: flex;
    justify-content: center;
    position: relative;
}
.main-container-wallpaper-container img {
    position: absolute;
    width: 100%;
    max-width: 580px;
    height: 158px;
    border-radius: 10px;
    opacity: 0.90;
    transform: translate(0);
    transition: all .6s ease-in;
}
.main-container-wallpaper-container img:hover  {
    opacity: 1;
    transform: translateY(5px);
    z-index: 1;
}
.main-container-presskit {
    width: 100%;
    height: auto;
    background-color: $base;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container-presskit h2 {
    font-size: $sidemenu;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}
.main-container-presskit p {
    font-size: $conten;
    font-family: $fontcontent;
    width: 80%;
    max-width: 550px;
    line-height: $content;
    margin: 15px 0;
}
.main-container-presskit p a {
    color: #f3e3d6;
}
.main-containner-presskit p a:hover {
    color: $white;
}
.main-container-newsletter {
    width: 100%;
    height: auto;
    background-color: $base;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container-newsletter-form {
    width: 100%;
    max-width: 900px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-container-newsletter h2 {
    width: 100%;
    font-size: $subtitle;
    text-align: center;
    align-self: center;
}
.main-container-newsletter-form .label-name {
    width: 100%;
    margin: 10 auto;
    display: flex;
    justify-content: center;
}
.main-container-newsletter-form .label-submit {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-container-newsletter-form  .name{
    width: 90%;
    max-width: 450px;
    height: 50px;
    border: .5px solid $white;
    background-color: $thirdcolor;
    border-radius: 10px;
    font-size: $subtitle;
    color: $fontcolor;
    padding: 10px;
    outline: none;
    font-family: $fonttitles;
}
.main-container-newsletter-form .submit {
    height: 50px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: $subtitle;
    font-weight: bold;
    font-family: $fonttitles;
    letter-spacing: .2rem;
    color: $fontcolor;
    background-color: $thirdcolor;
    margin: 15px;
    padding: 10px;
    transition: all 400ms ease;
}
.main-container-newsletter-form .submit:hover {
    background-color: $fontcolor;
    color: $white;
}
.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $thirdcolor;
}
.footer-imprint, .footer-costumer-service {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.footer-imprint img {
    width: 150px;
    height: 128px;
    margin-bottom: 24px;
}
.footer-imprint p {
    width: 90%;
    max-width: 300px;
    font-size: $footer;
    color: $fontcolor;
    font-family: $fontcontent;
    line-height: $content;
    margin-bottom: 18px;
}
.footer-costumer-service h2 {
    width: 90%;
    text-align: center;
    font-size: $footertitle;
    color: $fontcolor;
    margin-bottom: 12px;
}
.footer-costumer-service ul {
    list-style: none;
    width: 90%;
    justify-content: center;
    display: grid;
}
.footer-costumer-service ul li {
    margin: 15px 0;
    font-size: $footer;
    font-family: $conten;
}
.footer-costumer-service ul li a {
    text-decoration: none;
    color: $fontcolor;
}
.footer-costumer-service ul li a:hover {
    color: $another;
    text-decoration: underline;
}
.footer-end {
    width: 94%;
    height: auto;
    border-top: .5px solid $another;
    margin-top: 12px;
}
.footer-end p {
    width: 90%;
    color: $another;
    font-family: $fontcontent;
    font-size: 1.3rem;
    text-align: center;
    margin: 12px auto;
}