@media (min-width: 900px) {
  .footer-costumer-service, .footer-imprint {
    width: 40%;
  }

  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1040px) {
  .header-nav-hamburger-menu {
    display: none;
  }

  .header-nav-desktop {
    display: -ms-grid;
    display: grid;
  }

  .main-container-info {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 700px;
  }

  .main-container-info > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main-container-info > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .main-container-info > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .main-container-info > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .main-container-info h1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .main-container-info p {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }

  .main-container-info .second {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    padding-top: 140px;
    height: 100px;
  }

  .main-container-episodes-gifs {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-container-episodes-gifs > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main-container-episodes-gifs > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .main-container-episodes-gifs > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .main-container-episodes-gifs > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .main-container-links {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 1200px;
  }

  .main-container-links > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main-container-links > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .main-container-links > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .main-container-links > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .main-container-links > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .main-container-links > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .main-container-links-season {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .main-container-links-rare {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .main-container-links-nintendo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .main-container-media {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Averia Serif Libre", cursive;
}

body {
  position: relative;
}

.animation {
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.animation.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 800ms ease-out;
  transition: 800ms ease-out;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
}

.header-nav {
  width: 100%;
  height: 100vh;
  background-color: #754545;
  color: #BDA17D;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 0.8fr 1fr;
  grid-template-rows: 0.5fr 0.8fr 1fr;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header-nav-desktop {
  width: 100%;
  height: 80px;
  display: none;
  position: fixed;
  top: 0%;
}

.header-nav-list-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 660px;
  height: 40px;
  font-size: 2.4rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-nav-list-desktop li {
  margin: 0 16px;
  height: auto;
  text-align: center;
}

.header-nav-list-desktop li a {
  text-decoration: none;
  color: #BDA17D;
}

.header-nav-list-desktop li a:hover {
  text-decoration: underline;
  color: #f3e3d6;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  width: 100%;
  height: 400px;
  font-size: 3.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 2;
  grid-row: 2;
}

.header-list li {
  margin: 10px 0;
  text-align: center;
}

.header-list li a {
  text-decoration: none;
  color: #BDA17D;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.header-list li a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.header-links {
  -ms-grid-row: 3;
  grid-row: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-links a {
  background-color: #BDA17D;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-links .twitter {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/socialmedia_icons/icon_twitter.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-links .facebook {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/socialmedia_icons/icon_facebook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-links .tumblr {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/socialmedia_icons/icon_tumblr.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.show {
  -webkit-animation-name: cerrar;
          animation-name: cerrar;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.unshow {
  -webkit-animation-name: abrir;
          animation-name: abrir;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes abrir {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes abrir {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes cerrar {
  from {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes cerrar {
  from {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.header-nav-hamburger-menu {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 35px;
  height: 35px;
  margin-right: 1.2rem;
  cursor: pointer;
  z-index: 3;
}

.header-nav-hamburger-menu-button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.button {
  position: relative;
}

.button-div {
  width: 3.2rem;
  height: 0.5rem;
  background: #BDA17D;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.button-div:after, .button-div:before {
  content: "";
  position: absolute;
  width: 3.2rem;
  height: 0.5rem;
  background: #BDA17D;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-div:after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.button-div:before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.button-div-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  background: transparent;
}

.button-div-open:after {
  -webkit-transform: translate(calc(0%), -0.045rem) rotate(-45deg);
          transform: translate(calc(0%), -0.045rem) rotate(-45deg);
}

.button-div-open:before {
  -webkit-transform: translate(calc(0%), -0.045rem) rotate(45deg);
          transform: translate(calc(0%), -0.045rem) rotate(45deg);
}

.main {
  width: 100%;
  height: auto;
  color: #BDA17D;
  padding-bottom: 30px;
  background-color: #3B2A3C;
}

.main-container-parallax {
  width: 100%;
  height: 100vh;
  position: relative;
}

.parallax {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-container-parallax-logo {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/tls_logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 305px;
  height: 305px;
  z-index: 1;
}

.main-container-parallax-one {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/parallax/e03_parallax0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-parallax-two {
  height: 70%;
  bottom: 0;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/parallax/e03_parallax1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-parallax-three {
  height: 60%;
  bottom: 0;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/parallax/e03_parallax2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-parallax-four {
  height: 60%;
  bottom: 0;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/parallax/e03_parallax3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-parallax-five {
  height: 50%;
  bottom: 0;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/parallax/e03_parallax4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-parallax-six {
  height: 50%;
  bottom: 0;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/parallax/e03_parallax5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-parallax-seven {
  height: 80%;
  bottom: 0;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/parallax/e03_parallax6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-info {
  background-color: #3B2A3C;
  width: 100%;
  min-height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-container-info-logo {
  width: 305px;
  height: 305px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/tls_logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px auto;
}

.main-container-info h1 {
  font-size: 3.8rem;
  font-family: "Averia Serif Libre", cursive;
  width: 80%;
  max-width: 500px;
  text-align: center;
  margin: 15px auto;
}

.main-container-info p {
  width: 80%;
  max-width: 600px;
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  line-height: 2.8rem;
  margin: 15px auto;
}

.main-container-awards {
  width: 100%;
  height: auto;
  background-color: #3B2A3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-awards-video {
  width: 100%;
  max-width: 600px;
  min-height: 340px;
  margin: 15px auto;
  padding-bottom: 20px;
}

.main-container-awards-info {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container-awards-info span {
  width: 250px;
  height: 170px;
  margin: 15px 0;
}

.main-container-awards-info-prizes-one {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/award_igf_mentions_narrative.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-awards-info-prizes-two {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/award_reversed_beststory_website.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-awards-info-prizes-three {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/award_taptap_all.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-awards-info-prizes-four {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/award_futurezone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-awards-info-prizes-five {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/award_developer_germany.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-awards-info-prizes-six {
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/award_developer_nominee_story_EN.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container-episodes {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3B2A3C;
  padding-top: 15px;
}

.main-container-episodes h1 {
  font-size: 3.8rem;
  font-family: "Averia Serif Libre", cursive;
  width: 80%;
  max-width: 500px;
  text-align: center;
  margin: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 20px;
}

.main-container-episodes-gifs {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-episodes-gifs img {
  width: 100%;
  max-width: 580px;
  max-height: 580px;
  min-height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container-links {
  width: 100%;
  min-height: auto;
  background-color: #3B2A3C;
  padding-top: 50px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
}

.main-container-links-season {
  min-width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container-links-season h2, .main-container-links-nintendo h2, .main-container-links-full-game h2, .main-container-links-rare h2 {
  font-size: 2.4rem;
  font-family: "Averia Serif Libre", cursive;
  width: 80%;
  max-width: 500px;
  text-align: center;
  margin: 15px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container-links-season a {
  margin: 15px 0;
}

.main-container-links-season__steam {
  width: 190px;
  height: 70px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/steam.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container-links-season__humble {
  width: 300px;
  height: 70px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/humblebundle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
}

.main-container-links-season__gog {
  width: 250px;
  height: 60px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/gogcom-horizontal-white.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container-links-season__utomik {
  width: 250px;
  height: 60px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/utomik-logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container-links-season__epic {
  width: 150px;
  height: 100px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/epicgames-white_logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container-links-rare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container-links-rare a {
  width: 260px;
  height: 200px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/superraregames_logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
}

.main-container-links-full-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container-links-full-game__mac {
  width: 250px;
  height: 60px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/macstore.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 0;
  border-radius: 5px;
}

.main-container-links-full-game__windows {
  width: 250px;
  height: 90px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/English_get%20it%20from%20MS_864X312.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 0;
}

.main-container-links-full-game__ios {
  width: 250px;
  height: 60px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/appstore.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 0;
  border-radius: 5px;
  background-size: unset;
}

.main-container-links-full-game__android {
  width: 250px;
  height: 60px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/googleplay.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: unset;
  margin: 10px 0;
  border-radius: 5px;
}

.main-container-links-nintendo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container-links-nintendo a {
  width: 300px;
  height: 50px;
  display: inline-block;
  background-image: url("https://www.lionssonggame.com/img/badges/Nintendo_eShop_Icon_Logo_White.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 0;
  border-radius: 5px;
}

.main-container-links-nintendo img {
  width: 100%;
  max-width: 620px;
  min-height: auto;
  margin: 18px 0;
}

.main-container-media {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  background-color: #3B2A3C;
}

.main-container-media h2 {
  font-size: 3.8rem;
  font-family: "Averia Serif Libre", cursive;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  padding-bottom: 20px;
}

.main-container-screenshots h2, .main-container-wallpaper h2 {
  font-size: 2.4rem;
  font-family: "Averia Serif Libre", cursive;
  width: 100%;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container-screenshots-container {
  width: 100%;
  height: 890px;
  position: relative;
  overflow-x: hidden;
  background-color: #3b2a3c;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-screenshots-container img {
  max-width: 350px;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.main-container-screenshots-container img:hover {
  -webkit-transform: translateY(20px) translate(0);
          transform: translateY(20px) translate(0);
  z-index: 1;
}

.one {
  width: 100%;
  height: auto;
  position: absolute;
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

.two {
  width: 100%;
  height: auto;
  top: 15%;
  position: absolute;
  -webkit-transform: translate(20px);
          transform: translate(20px);
}

.three {
  width: 100%;
  height: auto;
  top: 30%;
  position: absolute;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
}

.four {
  width: 100%;
  height: auto;
  top: 45%;
  position: absolute;
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

.five {
  width: 100%;
  height: auto;
  top: 60%;
  position: absolute;
  -webkit-transform: translate(20px);
          transform: translate(20px);
}

.six {
  width: 100%;
  height: auto;
  top: 75%;
  position: absolute;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
}

.one-wallpaper {
  width: 100%;
  height: auto;
  position: absolute;
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

.two-wallpaper {
  width: 100%;
  height: auto;
  top: 100px;
  position: absolute;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.three-wallpaper {
  width: 100%;
  height: auto;
  top: 200px;
  position: absolute;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
}

.four-wallpaper {
  width: 100%;
  height: auto;
  top: 300px;
  position: absolute;
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

.five-wallpaper {
  width: 100%;
  height: auto;
  top: 400px;
  position: absolute;
  -webkit-transform: translate(20px);
          transform: translate(20px);
}

.six-wallpaper {
  width: 100%;
  height: auto;
  top: 500px;
  position: absolute;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
}

.seven-wallpaper {
  width: 100%;
  height: auto;
  top: 600px;
  position: absolute;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
}

.main-container-wallpaper-container {
  width: 100%;
  height: 800px;
  background-color: #3b2a3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-container-wallpaper-container img {
  position: absolute;
  width: 100%;
  max-width: 580px;
  height: 158px;
  border-radius: 10px;
  opacity: 0.9;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.main-container-wallpaper-container img:hover {
  opacity: 1;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  z-index: 1;
}

.main-container-presskit {
  width: 100%;
  height: auto;
  background-color: #3B2A3C;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-presskit h2 {
  font-size: 3.8rem;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

.main-container-presskit p {
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  width: 80%;
  max-width: 550px;
  line-height: 2.8rem;
  margin: 15px 0;
}

.main-container-presskit p a {
  color: #f3e3d6;
}

.main-containner-presskit p a:hover {
  color: white;
}

.main-container-newsletter {
  width: 100%;
  height: auto;
  background-color: #3B2A3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-newsletter-form {
  width: 100%;
  max-width: 900px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-newsletter h2 {
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-container-newsletter-form .label-name {
  width: 100%;
  margin: 10 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-newsletter-form .label-submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-newsletter-form .name {
  width: 90%;
  max-width: 450px;
  height: 50px;
  border: 0.5px solid white;
  background-color: #754545;
  border-radius: 10px;
  font-size: 2.4rem;
  color: #BDA17D;
  padding: 10px;
  outline: none;
  font-family: "Averia Serif Libre", cursive;
}

.main-container-newsletter-form .submit {
  height: 50px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "Averia Serif Libre", cursive;
  letter-spacing: 0.2rem;
  color: #BDA17D;
  background-color: #754545;
  margin: 15px;
  padding: 10px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.main-container-newsletter-form .submit:hover {
  background-color: #BDA17D;
  color: white;
}

.footer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #754545;
}

.footer-imprint, .footer-costumer-service {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer-imprint img {
  width: 150px;
  height: 128px;
  margin-bottom: 24px;
}

.footer-imprint p {
  width: 90%;
  max-width: 300px;
  font-size: 1.8rem;
  color: #BDA17D;
  font-family: "Raleway", sans-serif;
  line-height: 2.8rem;
  margin-bottom: 18px;
}

.footer-costumer-service h2 {
  width: 90%;
  text-align: center;
  font-size: 3.6rem;
  color: #BDA17D;
  margin-bottom: 12px;
}

.footer-costumer-service ul {
  list-style: none;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
}

.footer-costumer-service ul li {
  margin: 15px 0;
  font-size: 1.8rem;
  font-family: 2.2rem;
}

.footer-costumer-service ul li a {
  text-decoration: none;
  color: #BDA17D;
}

.footer-costumer-service ul li a:hover {
  color: #f3e3d6;
  text-decoration: underline;
}

.footer-end {
  width: 94%;
  height: auto;
  border-top: 0.5px solid #f3e3d6;
  margin-top: 12px;
}

.footer-end p {
  width: 90%;
  color: #f3e3d6;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  margin: 12px auto;
}

.footer-end p a {
  color: #BDA17D;
}